language: php   # can be any language, just php for example

php:
  - "7.2"

services:
  - docker

before_install:
  - docker login --username $DOCKER_USER --password $DOCKER_PASSWORD $DOCKER_REGISTRY
  - export IMAGE_NAME=$DOCKER_REGISTRY/byjg/skipdemo:$TRAVIS_COMMIT
  - echo $IMAGE_NAME

script:
  - docker build . -t $IMAGE_NAME
  - docker push $IMAGE_NAME

